
@{
    ViewBag.Title = "Index";
}

@model GestEcole.Web.Models.Home.LoginViewModel


@if (!User.Identity.IsAuthenticated)
{
    <h2>Authentification</h2>

    using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-3 col-sm-offset-3">
                <div class="form-group">
                    <label>Nom d'utilisateur : </label>
                    @Html.TextBoxFor(vm => vm.UserName, new { @class="form-control"})
                    <label>Mot de passe : </label>
                    @Html.PasswordFor(vm => vm.Password, new { @class = "form-control" })
                    <br/>
                    <button type="submit"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Connexion</button>
                </div>
            </div>
        </div>

    }
}
else
{
    <h1 class="page-header">Bonjour @User.Identity.Name</h1>
}

